---
const { timeframe, desc } = Astro.props;
---

<div class="relative flex w-full mt-6">
  <div class="relative w-32 font-semibold text-zinc-600 dark:text-zinc-300">
    {timeframe}
  </div>
  <div class="relative w-full text-zinc-600 dark:text-zinc-300">
    {desc}
  </div>
</div>
