---
import { Waves } from "lucide-react";
---

<nav
  class="fixed top-0 left-0 w-full flex py-4 px-6 z-50 justify-between content-center backdrop-blur-md bg-orange-50/50"
>
  <div class="flex items-center">
    <a href="/" class="flex gap-2 items-center">
      <Waves size={18} strokeWidth={3} /><h1
        class="text-2xl font-hand font-bold"
      >
        ymmh
      </h1>
    </a>
    <div class="hidden md:flex text-md font-light ml-8 gap-4">
      <a href="#about">About</a>
      <a href="#bio">Bio</a>
      <a href="#skills">Skills</a>
      <a href="#playlist">Playlist</a>
      <a href="#life">Life</a>
    </div>
  </div>
  <!-- <ModeToggle client:load /> -->
</nav>
